
<div class="row">
   <div class="col-sm-1 col-md-1 col-lg-1"></div>
   <div class="col-sm-10 col-md-10 col-lg-10">
      <form>
         <label for="first_name">First Name</label>
         <input type="text" name="first_name" ng-model = 'nC.friend.first_name' required><br/>
         <label for="first_name">Last Name</label>
         <input type="text" name="last_name" ng-model = 'nC.friend.last_name' required><br/>
         <label for="first_name">Birthday</label>
         <!-- HTML5 date is both required and uses a regex pattern to ensure data of the proper format is sent -->
         <input type="date" name="birthday" ng-model = 'nC.friend.birthday' required pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" ><br/>
         <input type="submit" value = 'Add Friend' ng-click = "nC.addFriend()"><br/>
      </form>
   </div>
   <div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
