

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-1 col-md-1 col-lg-1"></div>
      <div class="col-sm-10 col-md-10 col-lg-10">
         <form>
            <label for="first_name">First Name</label><br/>
            <input type="text" name="first_name" ng-model = 'sC.friend.first_name' value = '{{sC.friend.first_name}}' placeholder = '{{eC.user.first_name}}'><br/>
            <label for="last_name">Last Name</label><br/>
            <input type="text" name="last_name" ng-model = 'sC.friend.last_name' placeholder = '{{sC.friend.last_name}}'><br/>
            <label for="birthday">Birthday</label><br/>
            <input type="date" name="birthday" ng-model = 'sC.friend.created_birthday'  placeholder="{{sC.friend.created_birthday |  amDateFormat: 'YYYY-MM-DD'}}" required><br/>
            <input type="hidden" ng-model = 'sC.friend._id' value = '{{sC.friend._id}}'>
         </form>
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1"></div>
   </div>
</div>
