<div class="wrap">
<div class="main container-fluid">

<!-- HEADER -->
<div class="row">
   <div class="col-xs-2 col-md-2"></div>
   <div class="col-xs-8 col-md-8">
      <h2>Message Board</h2>
      <hr/>
   </div>
   <div class="col-xs-2 col-md-2"></div>
</div>

<!-- ADD NEW POST -->
<div class="row">
   <div class="col-xs-2 col-md-2"></div>
   <div class="col-xs-8 col-md-8">
      <h3>Add Post:</h3>
      <!-- <form id="post" action="/" method="post"> -->
      <form>
         <label for="name">Name:</label><br/>
         <input type="text" name="name" ng-model="newPost.postedby"><br/>
         <label for="content">Post:</label><br/>
         <textarea name="content" rows="4" cols="40" ng-model="newPost.content"></textarea><br/>
         <button type='submit' ng-click="addPost()">Add New Post</button>
      </form>
   </div>
   <div class="col-xs-2 col-md-2"></div>
</div>

<!-- SHOW POSTS AND COMMENTS -->
<% if(typeof posts == 'object' && posts){ %>
<div class="row">
   <div class="col-xs-2 col-md-2"></div>
   <div class="col-xs-8 col-md-8">
         <hr/>
         <h3>Our Posts:</h3>
         <hr/>
         <% for(post in posts){ %>
         <ul style='list-style:none;'>
            <!-- <li><%= posts[post]._id %></li> -->
            <li style="font-size: 1.5em;font-weight:bold;font-style:italic;">"<%= posts[post].content %>"</li>
            <li style="padding-left:30px;">- <%= posts[post].name %></li>
            <li style="padding-left:30px; padding-bottom:30px;">- <%= moment(posts[post].created_at).format('Do MMMM, YYYY'); %></li>
            <% if(posts[post].comments.length>0){ %>
               <h4>Comments:</h4>
               <table>
               <% for(i=0;i<posts[post].comments.length;i++){ %>
                  <tr>
                  <td><%= posts[post].comments[i].content %></td>
                  </tr>
                  <tr>
                  <td><%= posts[post].comments[i].name %></td>
                  </tr>
                  <tr>
                     <td><hr/></td>
                  </tr>
               <% } %>
               </table>
            <% } %>
            <h4>Add A Comment:</h4>
            <form action="/posts/<%= posts[post]._id %>/comments" method="post" style="padding-bottom: 20px;">
               <label for="name">Name</label><br/>
               <input type="text" name="name"><br/>
               <label for="content">Comment</label><br/>
               <textarea rows="4" cols="40" name="content"></textarea><br/>
               <input type="hidden" name="post_id" value="<%= posts[post]._id %>">
               <button type="submit">Add Comment</button>
            </form>
         </ul>
         <hr/>
         <% } %>
   </div>
   <div class="col-xs-2 col-md-2"></div>
</div>
<% } %>

<!-- ERRORS, if there are any.... -->
<% if(typeof errors == 'object' && errors){ %>
<div class="row">
   <div class="col-md-2"></div>
   <div class="col-md-8">
      <h3>Our ERRORS!</h3>
      <ul style='list-style:none;'>
         <% for(error in errors){ %>
         <li><%= errors[error].stack %></li>
         <hr/>
         <br/>
         <% } %>
         <hr/>
      </ul>
   </div>
   <div class="col-md-2"></div>
</div>
<% }%>

</div> <!-- /container -->
</div> <!-- /wrap -->
